section {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

section > * {
  font-family: 'Inconsolata', monospace;
  font-size: 14px;
}

section textarea {
  resize: none;
  height: auto;
  overflow: hidden;
  padding: 0;
}